// Importa funções e variáveis
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$theme-colors: (
    primary: #a497e0,
    secundary: #EB6D10,
    info: #cde662, 
    warning: rgb(47, 178, 230),   
    success: green,
);

$prefix: 'mo-';

@import "../node_modules/bootstrap/scss/bootstrap";